mkdocs==1.2.2
mkdocs-awesome-pages-plugin==2.5.0
mkdocs-material==7.2.6
mkdocs-material-extensions==1.0.3
mkdocs-git-revision-date-plugin==0.3.2
#added to avoid dependency conflict
jinja2==3.0.3
mkdocs-enumerate-headings-plugin==0.6.2